<div *ngIf="(loading$ | async) === true" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<form  *ngIf="(loading$ | async) === false" [formGroup]="formFilters" (ngSubmit)="submit()">
  <button class="btn btn-primary">Refresh</button>
  <div class="form-group">
    <label for="numberOfMeasures">Number of measures</label>
    <input type="number" class="form-control" id="numberOfMeasures" formControlName="numberOfMeasures">
  </div>
  <div class="form-group">
    <label for="datetimeFrom">Time From</label>
    <input type="datetime-local" class="form-control" id="datetimeFrom" formControlName="datetimeFrom">
  </div>
  <div class="form-group">
    <label for="datetimeto">Time To</label>
    <input type="datetime-local" class="form-control" id="datetimeTo" formControlName="datetimeTo">
  </div> 
  <div class="form-group">
    <label for="monitors">Monitors</label>
    <ng-select
      [items]="monitors$ | async"
      [multiple]="true"
      [closeOnSelect]="false"
      [searchable]="false"
      bindLabel="name"
      placeholder="Select monitors"
      formControlName="monitors">
    </ng-select>
  </div>
  <div class="form-group">
    <label for="resources">Hosts</label>
    <ng-select
      [items]="availableResourcesNames$ | async"
      [multiple]="true"
      [closeOnSelect]="false"
      [searchable]="false"
      bindLabel="name"
      placeholder="Select monitors then hosts"
      formControlName="resources">
    </ng-select>
  </div>
  <div class="form-group">
    <label for="measureTypes">Measure types</label>
    <ng-select
      [items]="availableMeasureTypes$ | async"
      [multiple]="true"
      [closeOnSelect]="false"
      [searchable]="false"
      bindLabel="name"
      placeholder="Select hosts then measure types"
      formControlName="measureTypes">
    </ng-select>
  </div>
</form>
