<div *ngIf="(loading$ | async) === true" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<form  *ngIf="(loading$ | async) === false" [formGroup]="formFilters" (ngSubmit)="submit()">
  <button class="btn btn-primary">Refresh</button>
  <div class="form-group">
    <label for="numberOfMeasures">Number of measures</label>
    <input type="number" class="form-control" id="numberOfMeasures" formControlName="numberOfMeasures">
  </div>
  <div class="form-group">
    <label for="dateFrom">Date From</label>
    <div class="input-group">
      <input placeholder="yyyy-mm-dd" type="text" class="form-control" id="dateFrom" formControlName="dateFrom" ngbDatepicker #dateFrom="ngbDatepicker"> 
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="dateFrom.toggle()" type="button"></button>
      </div>
    </div>
  </div>
  <div class="form-group">
      <label for="dateTo">Date To</label>
      <div class="input-group">
        <input placeholder="yyyy-mm-dd" type="text" class="form-control" id="dateTo" formControlName="dateTo" ngbDatepicker #dateTo="ngbDatepicker"> 
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="dateTo.toggle()" type="button"></button>
        </div>
      </div>
  </div> 
  <div class="form-group">
    <label for="monitors">Monitors</label>
    <ng-select
      [items]="monitors$ | async"
      [multiple]="true"
      [closeOnSelect]="false"
      [searchable]="false"
      bindLabel="name"
      placeholder="Select monitors"
      formControlName="monitors">
    </ng-select>
  </div>
  <div class="form-group">
    <label for="resources">Hosts</label>
    <ng-select
      [items]="availableResourcesNames$ | async"
      [multiple]="true"
      [closeOnSelect]="false"
      [searchable]="false"
      bindLabel="name"
      placeholder="Select monitors then hosts"
      formControlName="resources">
    </ng-select>
  </div>
  <div class="form-group">
    <label for="measureTypes">Measure types</label>
    <ng-select
      [items]="availableMeasureTypes$ | async"
      [multiple]="true"
      [closeOnSelect]="false"
      [searchable]="false"
      bindLabel="name"
      placeholder="Select hosts then measure types"
      formControlName="measureTypes">
    </ng-select>
  </div>
</form>
