<div class="row">
  <div class="col-md-3">
    <div *ngIf="(monitorsService.loading$ | async) === true" 
        class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div *ngIf="(monitorsService.loading$ | async) === false">
      <app-filters [monitors]="monitorsService.monitors$ | async" 
                  (filterChange)="submit($event)"></app-filters>
      <div class="buttons">
        <button class="btn btn-primary" routerLink="/complex">Manage complex</button>
        <a class="btn btn-primary" href="http://localhost:7000/logout">Logout</a>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div *ngIf="(metricService.loading$ | async) === true" 
          class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div *ngIf="(metricService.loading$ | async) === false">
      <app-results-table [metrics]="metricService.metrics$ | async"></app-results-table>
    </div>
  </div>
</div>